* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Raleway;
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 200px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  column-gap: 30px;
}
header > div {
  display: flex;
  flex-wrap: no-wrap;
  max-width: 1200px;
  flex-basis: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
header > div > div {
  display: flex;
  align-items: center;
  background-color: #29358C;
  flex-basis: 50%;
}
header > div > div h1 {
  font-size: 1.1em;
  padding: 20px;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 600;
}
header > div > img {
  object-fit: cover;
  padding-top: 40px;
  height: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main h2 {
  display: flex;
  flex-basis: 100%;
  font-size: 1em;
  margin-bottom: 30px;
}
main > section {
  display: flex;
  flex-basis: 100%;
  padding: 20px;
}
main #infos {
  display: flex;
  flex-wrap: wrap;
}
main #infos #call-to-action {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  box-shadow: 2px 2px 22px 3px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}
main #infos #call-to-action > div {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
main #infos #call-to-action > div > div {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
main #infos #call-to-action ul {
  display: flex;
}
main #infos #call-to-action ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 0.6em;
  font-weight: bold;
}
main #infos #call-to-action ul li .calltoaction_elements {
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 10px;
  min-width: 90px;
}
main #infos #call-to-action ul li span:nth-child(3) {
  background-color: rgba(47, 67, 212, 0.5568627451);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
main #infos #call-to-action .calltoaction_icons {
  height: 25px;
  margin-right: 10px;
}
main #infos #call-to-action > figure {
  display: flex;
  flex-basis: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main #infos #call-to-action > figure > img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main #infos div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
main #infos div div {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
main #infos div div > article {
  box-shadow: 2px 2px 22px 3px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
}
main #infos div div > article h3 {
  margin-bottom: 20px;
  font-size: 0.9em;
  background-color: #29358C;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
main #infos div div > article .experience {
  font-size: 0.7em;
}
main #infos div div > article > p {
  font-size: 1em;
  color: black;
  padding: 0 20px;
}
main #infos div div > article > p > span {
  margin-right: 10px;
  font-weight: bold;
}
main #main_form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
main #main_form h2 {
  justify-content: center;
  border: solid 3px #29358C;
  color: #29358C;
  border-radius: 5px;
  padding: 10px;
  max-width: 220px;
  margin: 20px auto;
}
main #main_form > form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-basis: 100%;
  box-shadow: 2px 2px 22px 3px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  row-gap: 20px;
}
main #main_form > form > p {
  font-size: 0.7em;
  font-weight: 400;
}
main #main_form > form > div {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  row-gap: 10px;
}
main #main_form > form > div > label {
  display: flex;
  flex-basis: 100%;
  font-size: 0.7em;
}
main #main_form > form > div > input {
  border-radius: 5px;
  height: 30px;
  border: solid 1px lightgray;
  display: flex;
  flex-basis: 100%;
}
main #main_form > form > div #message {
  height: 300px;
  flex-basis: 100%;
  border-radius: 5px;
  border: solid 1px lightgray;
  padding: 20px;
}
main #main_form > form > button {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  height: 30px;
  background-color: #29358C;
  color: white;
  font-weight: 600;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  bottom: -40px;
}

footer {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.1647058824);
  height: 30px;
}

@media screen and (min-width: 950px) {
  header > div > div > h1 {
    font-size: 2em;
    font-weight: 600;
  }
  main {
    justify-content: space-between;
  }
  main #infos {
    flex-basis: 48%;
  }
  main #main_form {
    flex-basis: 48%;
  }
}

/*# sourceMappingURL=style.css.map */
